<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPUCService" />
                <binding name="BasicHttpBinding_IPUCService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.124.138:6970/MutilUserPUCService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPUCService"
                contract="ServiceReference1.IPUCService" name="BasicHttpBinding_IPUCService" />
            <endpoint address="http://192.168.124.138:6970/MutilUserPUCService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPUCService1"
                contract="ServiceReference2.IPUCService" name="BasicHttpBinding_IPUCService1" />
        </client>
    </system.serviceModel>
</configuration>